.profile{
    /* background-color: rgba(165, 42, 42, 0.177); */
    margin-top: 3%;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255, 255, 240, 0.541),powderblue);
}
.sapan{
    color: rgb(69, 88, 170);
}
